body {
    background: pink;
}
table {
    border: 1px black;
    border-style: dotted;
    border-collapse: collapse;
}

td, tr {
    border: 1px dotted black;
    padding: 0px;
    margin: 1px;
    border-collapse: collapse;
}

#p1 {
    color: orangered;
}

