body {
    background: pink;
}
table {
    border: 1px black;
    border-style: dotted;
    border-collapse: collapse;
}

td, tr {
    border: 1px dotted black;
    padding: 0px;
    margin: 1px;
    border-collapse: collapse;
}

#p1 {
    color: orangered;
}


#refpic1 {
    height: 70px;
    width: 120px;
}


#refpic1:hover {
    background-image: Image("platy.jpg");
    height: 70px;
    width: 120px;
}

#refpic2 {
    height: 70px;
    width: 120px;
}
